        <p-dialog [(visible)]="editDialog" [style]="{width: '70vw'}" header="{{'modeAcces.tabPan' | translate}}" [modal]="true" styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">
            <ng-template pTemplate="content" >
                <p-tabView>
                    <p-tabPanel header="{{'modeAcces.tabPan' | translate}}">
                        <div class="grid">

                                        <div class="field col-12 md:col-6">
                                            <label for="1">{{'modeAcces.libelle' | translate}}<span style="color: red;">*</span></label>
                                            <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'modeAcces.libelle' | translate}}" id="1" [(ngModel)]="item.libelle"
                                                    [ngClass]="{'ng-invalid ng-dirty' : !validModeAccesLibelle}"  />
                                            <small class='p-error' *ngIf='!validModeAccesLibelle'>Libelle est obligatoire.</small>
                                        </div>



                                        <div class="field col-12 md:col-6">
                                            <label for="2">{{'modeAcces.code' | translate}}<span style="color: red;">*</span></label>
                                            <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'modeAcces.code' | translate}}" id="2" [(ngModel)]="item.code"
                                                    [ngClass]="{'ng-invalid ng-dirty' : !validModeAccesCode}"  />
                                            <small class='p-error' *ngIf='!validModeAccesCode'>Code est obligatoire.</small>
                                        </div>



                        </div>
                    </p-tabPanel>

                </p-tabView>
            </ng-template>

            <ng-template pTemplate="footer" >
                <div class="grid-footer">
                        <div>
                            <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-outlined" (click)="hideEditDialog()"></button>
                        </div>
                    <div>
                        <button pButton pRipple label="Valider" icon="pi pi-check" style="margin:10px" (click)="edit()"></button>
                    </div>
                </div>
            </ng-template>



    </p-dialog>
