        <p-dialog [(visible)]="editDialog" [style]="{width: '70vw'}" header="{{'site.tabPan' | translate}}" [modal]="true" styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">
            <ng-template pTemplate="content" >
                <p-tabView>
                    <p-tabPanel header="{{'site.tabPan' | translate}}">
                        <div class="grid">

                                        <div class="field col-12 md:col-6">
                                            <label for="1">{{'site.g2r' | translate}}<span style="color: red;">*</span></label>
                                            <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'site.g2r' | translate}}" id="1" [(ngModel)]="item.g2r"
                                                    [ngClass]="{'ng-invalid ng-dirty' : !validSiteG2r}"  />
                                            <small class='p-error' *ngIf='!validSiteG2r'>G2r est obligatoire.</small>
                                        </div>



                                        <div class="field col-12 md:col-6">
                                            <label for="2">{{'site.nom' | translate}}<span style="color: red;">*</span></label>
                                            <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'site.nom' | translate}}" id="2" [(ngModel)]="item.nom"
                                                    [ngClass]="{'ng-invalid ng-dirty' : !validSiteNom}"  />
                                            <small class='p-error' *ngIf='!validSiteNom'>Nom est obligatoire.</small>
                                        </div>



                                    <div class="field col-11 md:col-6">
                                        <label for="3">{{'site.technicien' | translate}}</label>
                                        <p-dropdown  appendTo="body"  [options]="techniciens" [(ngModel)]="item.technicien" id="3" [filter]="true" filterMatchMode="contains"
                                                [showClear]="true" optionLabel="nom" placeholder="{{'site.technicien' | translate}}"  >
                                        </p-dropdown>
                                        
                                    </div>
                                        <div class="field col-12 md:col-6">
                                            <label for="4">{{'site.commentaire' | translate}}</label>
                                            <textarea id="4" pInputTextarea rows="5" cols="30" placeholder="{{'site.commentaire' | translate}}"  [(ngModel)]="item.commentaire"
                                                     ></textarea>
                                            
                                        </div>

                                    <div class="field col-11 md:col-5">
                                        <label for="5">{{'site.modeAcces' | translate}}</label>
                                        <p-dropdown  appendTo="body"  [options]="modeAccess" [(ngModel)]="item.modeAcces" id="5" [filter]="true" filterMatchMode="contains"
                                                [showClear]="true" optionLabel="libelle" placeholder="{{'site.modeAcces' | translate}}"  >
                                        </p-dropdown>
                                        
                                    </div>
                                        <div class="col-1">
                                            <label></label>
                                            <button pButton pRipple type="button" icon="pi pi-plus" (click)="openCreateModeAcces('ModeAcces')" class="p-button-success one-colonne-btn-success-align"></button>
                                        </div>
                                        <div class="field col-12 md:col-6">
                                            <label for="6">{{'site.latitude' | translate}}<span style="color: red;">*</span></label>
                                            <p-inputNumber class="mb-2 mr-2" id="6" placeholder="{{'site.latitude' | translate}}" [(ngModel)]="item.latitude" [ngClass]="{'ng-invalid ng-dirty' : !validSiteLatitude}"  >
                                            </p-inputNumber>
                                            <small class='p-error' *ngIf='!validSiteLatitude'>Latitude est obligatoire.</small>
                                        </div>

                                        <div class="field col-12 md:col-6">
                                            <label for="7">{{'site.longitude' | translate}}<span style="color: red;">*</span></label>
                                            <p-inputNumber class="mb-2 mr-2" id="7" placeholder="{{'site.longitude' | translate}}" [(ngModel)]="item.longitude" [ngClass]="{'ng-invalid ng-dirty' : !validSiteLongitude}"  >
                                            </p-inputNumber>
                                            <small class='p-error' *ngIf='!validSiteLongitude'>Longitude est obligatoire.</small>
                                        </div>

                        </div>
                    </p-tabPanel>

                            <p-tabPanel header="{{'site.siteImages' | translate}}">
                                        <div class="grid">
                                            <div class="col">
                                                            <div class="field col-12 md:col-6">
                                                                <label for="2">File name<span style="color: red;">*</span></label>
                                                                <input appendTo="body" class="mb-2 mr-2" type="text" pInputText placeholder="File name"
                                                                       id="2" [(ngModel)]="siteImagesElement.fileName"
                                                                       autofocus  [ngClass]="{'ng-invalid ng-dirty' : !validSiteImagesFileName}"  >
                                                                <small class='p-error' *ngIf='!validSiteImagesFileName'>FileName est obligatoire.</small>
                                                            </div>
                                                            <div class="field col-12 md:col-6">
                                                                <label for="3">File path<span style="color: red;">*</span></label>
                                                                <input appendTo="body" class="mb-2 mr-2" type="text" pInputText placeholder="File path"
                                                                       id="3" [(ngModel)]="siteImagesElement.filePath"
                                                                       autofocus  [ngClass]="{'ng-invalid ng-dirty' : !validSiteImagesFilePath}"  >
                                                                <small class='p-error' *ngIf='!validSiteImagesFilePath'>FilePath est obligatoire.</small>
                                                            </div>
                                                            <div class="field col-12 md:col-6">
                                                                <label for="4">{{'siteImage.description' | translate}}</label>
                                                                <textarea id="4" pInputTextarea rows="5" cols="30" placeholder="{{'siteImage.description' | translate}}"  [(ngModel)]="item.description"
                                                                         ></textarea>
                                                                
                                                            </div>
                                                <div class="field col-12 md:col-1">
                                                    <button pButton pRipple type="button" icon="pi pi-plus" class="mt-4" label="OK" (click)="addSiteImages()"></button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="card">
                                                <p-table [value]="item.siteImages" [scrollable]="true" scrollHeight="200px">
                                                    <ng-template pTemplate="header">
                                                        <tr>
                                                                        <th>File name</th>
                                                                        <th>File path</th>
                                                                        <th>Description</th>
                                                            <th>Actions</th>
                                                        </tr>
                                                    </ng-template>
                                                    <ng-template pTemplate="body" let-p>
                                                        <tr>
                                                                        <td>{{p.fileName}}</td>
                                                                        <td>{{p.filePath}}</td>
                                                                        <td>{{p.description}}</td>
                                                            <td>
                                                                <button (click)="deleteSiteImages(p)" pButton type="button" icon="pi pi-times"  class="p-button-rounded p-button-danger"></button>
                                                                <button (click)="editSiteImages(p)" pButton type="button" icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2"></button>
                                                            </td>
                                                        </tr>
                                                    </ng-template>
                                                </p-table>
                                            </div>
                                        </div>
                            </p-tabPanel>
                </p-tabView>
            </ng-template>

            <ng-template pTemplate="footer" >
                <div class="grid-footer">
                        <div>
                            <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-outlined" (click)="hideEditDialog()"></button>
                        </div>
                    <div>
                        <button pButton pRipple label="Valider" icon="pi pi-check" style="margin:10px" (click)="edit()"></button>
                    </div>
                </div>
            </ng-template>

                    <app-mode-acces-create-admin></app-mode-acces-create-admin>


    </p-dialog>
