        <p-dialog [(visible)]="createDialog" [style]="{width: '70vw'}" header="{{'siteImage.tabPan' | translate}}" [modal]="true" styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">
            <ng-template pTemplate="content" >
                        <p-tabView>
                            <p-tabPanel header="{{'siteImage.tabPan' | translate}}">
                                <div class="grid">

                                            <div class="field col-11 md:col-5">
                                                <label for="1">{{'siteImage.site' | translate}}</label>
                                                <p-dropdown  appendTo="body"  [options]="sites" [(ngModel)]="item.site" id="1" [filter]="true" filterMatchMode="contains"
                                                        [showClear]="true" optionLabel="nom" placeholder="{{'siteImage.site' | translate}}"  >
                                                </p-dropdown>
                                                
                                            </div>
                                                <div class="col-1">
                                                    <label></label>
                                                    <button pButton pRipple type="button" icon="pi pi-plus" (click)="openCreateSite('Site')" class="p-button-success one-colonne-btn-success-align"></button>
                                                </div>
                                                <div class="field col-12 md:col-6">
                                                    <label for="2">{{'siteImage.fileName' | translate}}<span style="color: red;">*</span></label>
                                                    <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'siteImage.fileName' | translate}}" id="2" [(ngModel)]="item.fileName"
                                                            [ngClass]="{'ng-invalid ng-dirty' : !validSiteImageFileName}"  />
                                                    <small class='p-error' *ngIf='!validSiteImageFileName'>FileName est obligatoire.</small>
                                                </div>



                                                <div class="field col-12 md:col-6">
                                                    <label for="3">{{'siteImage.filePath' | translate}}<span style="color: red;">*</span></label>
                                                    <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'siteImage.filePath' | translate}}" id="3" [(ngModel)]="item.filePath"
                                                            [ngClass]="{'ng-invalid ng-dirty' : !validSiteImageFilePath}"  />
                                                    <small class='p-error' *ngIf='!validSiteImageFilePath'>FilePath est obligatoire.</small>
                                                </div>



                                                <div class="field col-12 md:col-6">
                                                    <label for="4">{{'siteImage.description' | translate}}</label>
                                                    <textarea id="4" pInputTextarea rows="5" cols="30" placeholder="{{'siteImage.description' | translate}}"  [(ngModel)]="item.description"
                                                             ></textarea>
                                                    
                                                </div>

                                </div>
                            </p-tabPanel>

                        </p-tabView>

            </ng-template>

            <ng-template pTemplate="footer" >
                <div class="grid-step">
                        <div style="margin-left: auto;">
                            <button pButton pRipple  label="{{'validate' | translate}}"  icon="pi pi-check" style="margin:10px" (click)="save()"></button>
                        </div>
                        <div>
                            <button pButton pRipple  label="{{'cancel' | translate}}" icon="pi pi-times" class="p-button-outlined" (click)="hideCreateDialog()"></button>
                        </div>

                </div>
            </ng-template>

            <app-site-create-admin></app-site-create-admin>


    </p-dialog>
