
<p-dialog [(visible)]="viewDialog" [style]="{width: '70vw'}" header="{{'site.tabPan' | translate}}" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="{{'site.tabPan' | translate}}">
                <div class="grid">
                    <div class="field col-12 md:col-6">
                        <label for="1">{{'site.g2r' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'site.g2r' | translate}}" autofocus  id="1" [(ngModel)]="item.g2r">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="2">{{'site.nom' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'site.nom' | translate}}" autofocus  id="2" [(ngModel)]="item.nom">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="3">{{'site.technicien' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'site.technicien' | translate}}" autofocus  id="3" [(ngModel)]="item.technicien?.nom">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="4">{{'site.commentaire' | translate}}</label>
                        <textarea id="4" pInputTextarea rows="5" cols="30" [disabled]="true" placeholder="{{'site.commentaire' | translate}}"  [(ngModel)]="item.commentaire"></textarea>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="5">{{'site.modeAcces' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'site.modeAcces' | translate}}" autofocus  id="5" [(ngModel)]="item.modeAcces?.libelle">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="6">{{'site.latitude' | translate}}</label>
                        <p-inputNumber class="mb-2 mr-2" id="6" [disabled]="true" placeholder="{{'site.latitude' | translate}}" [(ngModel)]="item.latitude"></p-inputNumber>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="7">{{'site.longitude' | translate}}</label>
                        <p-inputNumber class="mb-2 mr-2" id="7" [disabled]="true" placeholder="{{'site.longitude' | translate}}" [(ngModel)]="item.longitude"></p-inputNumber>
                    </div>
                </div>
            </p-tabPanel>

            <p-tabPanel header="{{'site.siteImages' | translate}}">
                <div class="grid">
                    <div class="col">
                        <div class="card">
                            <p-table [value]="item.siteImages" [scrollable]="true" scrollHeight="200px">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th>File name</th>
                                        <th>File path</th>
                                        <th>Description</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-p>
                                    <tr>
                                        <td>{{p.fileName}}</td>
                                        <td>{{p.filePath}}</td>
                                        <td>{{p.description}}</td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </div>
                </div>
            </p-tabPanel>
        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer" >
        <div class="grid-footer">
            <div>
                <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-outlined" (click)="hideViewDialog()"></button>
            </div>
        </div>
    </ng-template>
</p-dialog>



